@import "tailwindcss";

:root {
  --bg: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1a1a1a;
    --bg2: #252525;
    --bg3: #323232;
    --border: #414141;

    --text: #bdbdbd;

    --test: #0c0c0c;
  }
}

body {
  color: var(--text);
  font-family: var(--font-inter), sans-serif;
}

h1 {
  color: var(--text);
  font-size: 1.25rem;
  font-family: var(--font-merriweather), sans-serif;
}
