@import "tailwindcss";

:root {
  --bg: #1a1a1a;
  --bg2: #252525;
  --bg3: #323232;

  --card-bg: #2f2f2f;
  --card-bg2: #414141;

  --border: #414141;
  --border2: #3c3c3c;
  --border3: #505050;

  --text: #bdbdbd;
  --text2: #ffffff;
  --text3: #6b6b6b;

  --accent: #b8975a;

  --tag-bg: #321f20;
  --tag-bg2: #272a2e;

  --tag-border: #d9534f;
  --tag-border2: #7d9bb2;

  --test: #0c0c0c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #f7f6f1;
    --bg2: #ffffff;

    --border: #15140f;

    --text: #15140f;
    --text2: #ffffff;
    --text3: #6b6b6b;

    --line: #e5e2d6;

    --accent: #29ff3b;

    --test: #e2e1dc; /* header section color */
  }
}

body {
  color: var(--text);
  font-family: var(--font-space-mono), sans-serif; /* was inter */
}

h1 {
  color: var(--text);
  font-size: 1.25rem;
  font-family: var(--font-archivo), sans-serif; /* was merriweather */
}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
